html, div, ul, li {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}

h1 {
    font-size: 48px;
    font-weight: normal;
    color: gray;
    margin: 0;
}

main {
    width: 90%;
    margin: 0 auto;
}

.local-header {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 20px;
    width: 100%;
}

.header-title {
    width: fit-content;
}

.refresh-geo-btn {
    width: fit-content;
    background-color: lightgray;
    color: gray;
    font-size: 16px;
    margin-left: 40px;
    border: 0;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
}

.refresh-geo-btn .material-icons {
    display: none;
}

.weathers-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.weather-item {
    display: flex;
    flex-direction: column;
    min-width: 45%;
    width: calc((800px - 100vw) * 999);
    max-width: 100%;
    margin-bottom: 32px;
}

.local-weather-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.circle-btn {
    height: 30px;
    width: 30px;
    margin-left: auto;
    border: none;
    background-color: #6f818b;
    color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.circle-btn .material-icons {
    font-size: 15px;
}

.fav-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
}

.fav-title {
    flex-grow: 3;
    margin-top: 20px;
}

.fav-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin-top: 20px;
}

.fav-search input[type="search"] {
    flex-grow: 1;
    height: 40px;
    background-color: lightgray;
    margin-right: 20px;
    border: 0;
    padding: 10px;
}

:focus {
    outline: none;
}

.fav-search .circle-btn {
    margin: 0;
}

.main-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}

.local-weather-item .main-info {
    display: block;
    min-width: 45%;
    width: calc((800px - 100vw) * 999);
    max-width: 100%;
}

.city-name {
    font-size: 30px;
    margin-right: 8px;
    color: #6f818b;
}

.local-weather-item .city-name {
    width: 100%;
    font-size: calc(40px + (160 - 40) * (100vw - 800px) / (3200 - 800));;
    margin: 8px;
}

.weather-icon img {
    height: 30px;
    width: 30px;
}

.local-weather-item .weather-icon img {
    width: calc(80px + (320 - 80) * (100vw - 800px) / (3200 - 800));
    height: calc(80px + (320 - 80) * (100vw - 800px) / (3200 - 800));
    float: left;
    margin: 8px;
}

.weather-value {
    font-size: 30px;
    margin-right: 8px;
    color: #6f818b;
}

.local-weather-item .weather-value {
    font-size: calc(80px + (288 - 80) * (100vw - 800px) / (3200 - 800));
    float: right;
    margin: 8px;
}

.local-weather-item .weather-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 45%;
    width: calc((800px - 100vw) * 999);
    max-width: 100%;
}

.details-list :first-child {
    margin-top: 0;
}

.addition-detail {
    display: flex;
    justify-content: space-between;
    background-color: #a8b0b2;
    color: white;
    font-size: 16px;
    margin-top: 8px;
    padding: 10px;
}

.addition-detail div:first-child {
    font-weight: bold;
}

@media screen and (max-width: 799px) {
    .refresh-geo-btn .material-icons {
        display: block;
    }

    .refresh-geo-btn .refresh-text {
        display: none;
    }

    .weather-value {
        font-size: calc(25px + (48 - 25) * (100vw - 320px) / (800 - 320));
        vertical-align: center;
    }

    .city-name {
        font-size: calc(25px + (48 - 25) * (100vw - 320px) / (800 - 320));
    }

    .local-weather-item .city-name {
        font-size: 48px;
    }

    .weather-icon img {
        height: calc(32px + (60 - 32) * (100vw - 320px) / (800 - 320));
        width: calc(32px + (60 - 32) * (100vw - 320px) / (800 - 320));
    }

    .local-weather-item .weather-icon img {
        width: 90px;
        height: 90px;
    }

    .circle-btn {
        height: 40px;
        width: 40px;
        font-size: 20px;
    }

    .local-weather-item .weather-value {
        font-size: 80px;
        text-align: right;
    }

    .fav-search {
        width: 100%;
    }
}