html, div, ul, li {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}

h1 {
    font-size: calc(48px + (120 - 48) * (100vw - 800px) / (3200 - 800));
    font-weight: normal;
    color: gray;
    margin: 0;
}

main {
    width: 90%;
    margin: 0 auto;
}

.local-header {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 20px;
    width: 100%;
}

.header-text {
    width: fit-content;
}

.refresh-btn {
    width: fit-content;
    background-color: lightgray;
    color: gray;
    font-size: calc(16px + (48 - 16) * (100vw - 800px) / (3200 - 800));
    margin-left: 40px;
    border: 0;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
}

.refresh-btn .icon {
    display: none;
}

.weather-item-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.weather-item {
    display: flex;
    flex-direction: column;
    min-width: 45%;
    width: calc((800px - 100vw) * 999);
    max-width: 100%;
    margin-bottom: 32px;
}

.local-weather-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.waiting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle-btn {
    height: calc(30px + (100 - 30) * (100vw - 800px) / (3200 - 800));
    width: calc(30px + (100 - 30) * (100vw - 800px) / (3200 - 800));
    margin-left: auto;
    border: none;
    padding: 0;
    background-color: #6f818b;
    color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.circle-btn .icon {
    width: 50%;
    height: 50%;
}

.fav-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
}

.fav-title {
    flex-grow: 3;
}

.fav-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin-top: 20px;
}

.fav-search input[type="search"] {
    flex-grow: 1;
    height: calc(30px + (100 - 30) * (100vw - 800px) / (3200 - 800));
    font-size: calc(16px + (48 - 16) * (100vw - 800px) / (3200 - 800));
    background-color: lightgray;
    margin-right: 20px;
    border: 0;
    padding: 10px;
}

:focus {
    outline: none;
}

.fav-search .circle-btn {
    margin: 0;
}

.main-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}

.local-weather-item .main-info {
    display: block;
    min-width: 45%;
    width: calc((800px - 100vw) * 999);
    max-width: 100%;
}

.city-name {
    font-size: calc(24px + (90 - 24) * (100vw - 800px) / (3200 - 800));
    margin-right: 8px;
    color: #6f818b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.local-weather-item .city-name {
    width: 100%;
    font-size: calc(24px + (160 - 24) * (100vw - 800px) / (3200 - 800));
    margin: 8px;
}

.weather-icon {
    background-color: #a8b0b2;
    border-radius: 5px;
}

.weather-icon img {
    height: calc(30px + (100 - 30) * (100vw - 800px) / (3200 - 800));
    width: calc(30px + (100 - 30) * (100vw - 800px) / (3200 - 800));
}

.local-weather-item .weather-icon {
    width: calc(80px + (320 - 80) * (100vw - 800px) / (3200 - 800));
    height: calc(80px + (320 - 80) * (100vw - 800px) / (3200 - 800));
    float: left;
    margin: 8px;
}
.local-weather-item .weather-icon img {
    width: calc(80px + (320 - 80) * (100vw - 800px) / (3200 - 800));
    height: calc(80px + (320 - 80) * (100vw - 800px) / (3200 - 800));
}


.temperature-value {
    font-size: calc(24px + (90 - 24) * (100vw - 800px) / (3200 - 800));
    margin-right: 8px;
    color: #6f818b;
}

.local-weather-item .temperature-value {
    font-size: calc(72px + (288 - 72) * (100vw - 800px) / (3200 - 800));
    float: right;
    margin: 8px;
}

.local-weather-item .weather-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 45%;
    width: calc((800px - 100vw) * 999);
    max-width: 100%;
}

.details-list :first-child {
    margin-top: 0;
}

.param {
    display: flex;
    justify-content: space-between;
    background-color: #a8b0b2;
    color: white;
    border-radius: 2px;
    font-size: calc(20px + (48 - 20) * (100vw - 800px) / (3200 - 800));
    margin-top: 8px;
    padding: 10px;
}

.param div:first-child {
    font-weight: bold;
}

@media screen and (max-width: 799px) {
    h1 {
        font-size: calc(30px + (48 - 30) * (100vw - 320px) / (800 - 320));
    }
    .refresh-btn .icon {
        display: block;
        width: 40px;
    }

    .refresh-btn .refresh-btn-text {
        display: none;
    }

    .temperature-value {
        font-size: calc(22px + (48 - 22) * (100vw - 320px) / (800 - 320));
        vertical-align: center;
    }

    .city-name {
        font-size: calc(20px + (40 - 20) * (100vw - 320px) / (800 - 320));
    }

    .local-weather-item .city-name {
        font-size: calc(40px + (60 - 40) * (100vw - 320px) / (800 - 320));
    }

    .weather-icon img {
        height: calc(30px + (50 - 30) * (100vw - 320px) / (800 - 320));
        width: calc(30px + (50 - 30) * (100vw - 320px) / (800 - 320));
    }

    .local-weather-item .weather-icon {
        width: calc(72px + (144 - 72) * (100vw - 320px) / (800 - 320));
        height: calc(72px + (144 - 72) * (100vw - 320px) / (800 - 320));
    }

    .local-weather-item .weather-icon img {
        width: calc(72px + (144 - 72) * (100vw - 320px) / (800 - 320));
        height: calc(72px + (144 - 72) * (100vw - 320px) / (800 - 320));
    }

    .circle-btn {
        height: calc(30px + (50 - 30) * (100vw - 320px) / (800 - 320));
        width: calc(30px + (50 - 30) * (100vw - 320px) / (800 - 320));
    }

    .local-weather-item .temperature-value {
        /*font-size: 140px;*/
        font-size: calc(60px + (120 - 60) * (100vw - 320px) / (800 - 320));
        text-align: right;
    }

    .fav-search {
        width: 100%;
    }
    .fav-search input[type="search"] {
        height: calc(30px + (50 - 30) * (100vw - 320px) / (800 - 320));
    }
}